.footer {
  @include container;

  border-top: 1px solid $color-true-gray-an2;
  color: $color-gray-a0;
  padding-top: $v;
  margin-bottom: $v;

  a {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
