@import "susy/susy";

$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;

$susy: (
  columns: $total-columns,
  gutters: $gutter-width / $column-width,
  column-width: $column-width
);

@mixin row() {
  @include container;

  padding: 0 ($v / 2);
}

.row {
  @include row;
}
