.nav {
  display: inline-block;
  height: $font-size-1;
  line-height: $font-size-1;

  &--left {
    @include span(6 of 12);

    @media (max-width: $max-width-narrow) {
      @include span(last 12 of 12);

      // padding: 0 ($v / 2)

      ul {
        float: right;
      }
    }
  }

  &--right {
    @include span(last 6 of 12);

    position: relative;
    text-align: right;
    top: 1px;
  }

  &__list {
    display: inline-block;
    margin-left: 0;
  }

  &__item {
    display: inline-block;
    list-style-type: none;
    line-height: $font-size-1;

    & + & {
      margin-left: $v / 2;
    }
  }

  &__link {
    color: $color-gray-a0;

    &--active {
      color: $color-true-gray-a2;
    }
  }
}
