.page {
  @include container;

  padding: ($v * 3) 0;

  &__title {
    margin-bottom: $v;
    font-size: $font-size-3;
    font-weight: $font-weight-medium;
    text-align: center;
  }

  &__content {
    @include prefix(1 of 12);
    @include span(10 of 12);
    @include suffix(1 of 12);

    text-align: justify;
  }
}
