.post {
  @include container;

  &__title {
    font-size: $font-size-3;
    font-weight: $font-weight-medium;
    text-align: center;

    &:after {
      content: "—";
      color: $color-true-gray-an2;
      display: block;
      padding: ($v / 2) 0;
    }
  }

  &__content {
    @include prefix(1 of 12);
    @include span(10 of 12);
    @include suffix(1 of 12);

    text-align: justify;
  }

  & + & {
    margin-top: $v * 2;
  }
}
