.post {
  @include container;

  box-sizing: border-box;
  padding-bottom: $v;
  padding-top: ($v * 2);

  @media (max-width: $max-width-narrow) {
    padding: $v ($v / 2);
  }

  @media (max-width: $max-width-wide) {
    padding-left: ($v / 2);
    padding-right: ($v / 2);
  }

  &__sidebar {
    @include span(4 of 12);

    @media (max-width: $max-width-narrow) {
      @include span(last 12 of 12);
    }
  }

  &__title {
    font-size: $font-size-2;
    font-weight: $font-weight-medium;
    margin-bottom: $v;

    a {
      color: $color-text;

      &:hover {
        color: $color-magenta;
      }
    }
  }

  &__date {
    color: $color-gray-an1;
    font-size: $font-size-n1;

    @media (max-width: $max-width-narrow) {
      display: none;
    }
  }

  &__content {
    @include span(last 8 of 12);

    color: $color-gray-a2;

    p {
      margin-bottom: $v;
    }

    ul {
      margin-bottom: $v;
    }

    @media (max-width: $max-width-narrow) {
      @include span(last 12 of 12);
    }
  }

  & + & {
    border-top: 1px solid $color-gray-an2;
  }
}
